@import "tailwindcss";

@theme {
}

.bg-may {
	background: radial-gradient(at 79% 35%, #8972ff 0px, transparent 50%),
		radial-gradient(at 80% 71%, #0d0f2c 0px, transparent 50%),
		radial-gradient(at 35% 15%, #515168 0px, transparent 50%),
		radial-gradient(at 68% 82%, #bdbbbe 0px, transparent 50%),
		radial-gradient(at 78% 66%, #fefaff 0px, transparent 50%), #8972ff;
}
